.header {
  width: 100%;
  background: #ffffff;

  .container {
    width: 100%;
    max-width: 1133px;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    cursor: pointer;
  }

  &__nav {
    font-size: 18px;
    font-weight: 700;

    a {
      color: #555555;
      margin-right: 32px;
    }

    a:hover {
      border-bottom: 2px solid #555555;
    }

    a:last-child {
      margin-right: 0;
    }

    .active {
      border-bottom: 2px solid #555555;
    }
  }
}

@media screen and (max-width: 1134px) {
  .header {
    .container {
      max-width: 760px;
    }
  }
}

@media screen and (max-width: 428px) {
  .header {
    .container {
      max-width: 300px;
    }
  }
  .header__logo {
    img {
      width: 120px;
    }
  }
  .header__nav {
    font-size: 14px;
  }
}
