.modal-overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: absolute;

    top: 50%;
    left: 50%;
    z-index: 102;
    transform: translate(-50%, -50%);

    background: #ffffff;
    border-radius: 15px;

    .container {
      padding: 48px 70px;

      h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;

        color: #555555;

        margin-bottom: 30px;
      }

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        color: #555555;

        margin-bottom: 40px;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        min-width: 153px;
        padding: 15px 0 15px 0;

        cursor: pointer;
        border: 0;
        background-color: inherit;
        border-radius: 31px;

        font-weight: bold;
        font-size: 20px;
        line-height: 24px;

        color: #ffffff;

        transition: linear 0.2s;
      }

      #cancel {
        background: #555555;
        border: 1px solid #555555;
      }

      #cancel:hover {
        color: #555555;
        background: inherit;
      }

      #edit {
        background: #119dc8;
        border: 1px solid #119dc8;
      }

      #edit:hover {
        color: #119dc8;
        background: inherit;
      }

      #delete {
        background: #cc0012;
        border: 1px solid #cc0012;
      }

      #delete:hover {
        color: #cc0012;
        background: inherit;
      }
    }
  }
}

@media screen and (max-width: 922px) {
  .modal-overlay {
    .modal {
      .container {
        padding: 25px 30px;
        min-width: 300px;
        h2 {
          font-size: 27px;
        }

        p {
          font-size: 15px;
        }
      }
      &__buttons {
        button {
          min-width: 100px;
          padding: 10px 0 10px 0;
          font-size: 16px;
        }
      }
    }
  }
}
