.sidebar {
  background: #ffffff;
  margin-top: 55px;
  .container {
    padding: 30px;
  }

  &__menu {
    margin-bottom: 160px;
    li {
      margin-bottom: 18px;
    }
    li:last-child {
      margin-bottom: 0;
    }
    a,
    span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      color: #868686;
      cursor: pointer;
    }

    a:hover {
      color: #202020;
      border-bottom: 2px solid #202020;
    }

    span:hover {
      color: #202020;
      border-bottom: 2px solid #202020;
    }

    .active {
      color: #202020;
      border-bottom: 2px solid #202020;
    }

    .menu__list {
      span {
        margin-right: 2px;
      }

      .caret-up {
        transform: rotate(180deg);
      }
    }

    .web-items {
      padding: 18px 0 14px 27px;

      li {
        margin-bottom: 11px;
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
    .active {
      border-bottom: 2px solid #555555;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin-right: 15px;
    }

    a:last-child {
      margin-right: 0;
    }

    a:hover {
      svg {
        path {
          fill: #202020;
        }
      }
    }
  }
}

@media screen and (max-width: 1134px) {
  .sidebar {
    width: 300px;
    margin: 0 0 25px 0;
  }
}
