.single-post {
  background: #ffffff;

  &__image {
    height: 355px;

    background-color: #e2e2e2;
    background-size: cover;
    background-position: 50%;
  }

  &__content {
    padding: 20px 40px 40px 40px;
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    a {
      font-size: 12px;
      font-weight: 500;
      color: #868686;
      border-bottom: 2px solid #ffffff;
    }

    a:hover {
      border-bottom: 2px solid #868686;
    }

    button {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border: 0;
      border-bottom: 2px solid #ffffff;
      background-color: inherit;
      cursor: pointer;
    }

    button:last-child {
      margin-left: 15px;
    }

    #button__edit {
      color: #119dc8;
    }

    #button__edit:hover {
      border-bottom: 2px solid #119dc8;
    }

    #button__delete {
      color: #cc0012;
    }

    #button__delete:hover {
      border-bottom: 2px solid #cc0012;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    color: #202020;
    line-height: 44px;
    margin-bottom: 2px;
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #868686;

    margin-bottom: 40px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #868686;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;

    svg {
      cursor: pointer;
    }

    svg:hover {
      transform: scale(1.1);
    }

    #svg__views {
      cursor: default;
    }

    #svg__views:hover {
      transform: none;
    }

    p {
      font-weight: 500;
      font-size: 18px;

      color: #868686;

      margin-left: 10px;
    }

    .likes {
      display: flex;
      align-items: center;
    }

    .views {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 740px) {
  .single-post {
    &__content {
      padding: 20px 20px 20px 20px;
    }

    &__title {
      font-size: 25px;
      line-height: 35px;
    }

    &__text {
      font-size: 15px;
    }
  }
}
