@import 'variables';
@import 'libs/normalize';

@import 'pages/all';
@import 'components/all';

body {
  background-color: $background;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1133px;
  margin: 0 auto;

  .content {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 35px;

    .title {
      color: #202020;

      font-size: 24px;
      font-weight: 500;
      height: 30px;

      margin-bottom: 25px;
    }

    .columns {
      display: flex;

      .main-column {
        flex-basis: 760px;

        .large-post {
          display: flex;
        }

        .two-post {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .column {
        flex: 1;
        margin-left: 60px;
      }
    }
  }
}

@media screen and (max-width: 1134px) {
  .wrapper {
    max-width: 760px;

    .content {
      .columns {
        flex-direction: column-reverse;

        .column {
          margin-left: 0;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    .content {
      .columns {
        .main-column {
          max-width: 300px;
          justify-content: center;
          flex: 1;
          margin: 0 auto;
        }
      }
    }
  }
}
