@import 'variables';

@import 'libs/normalize';

@import 'pages/all';
@import 'components/all';

body {
  background-color: $background;
}

body.modal-open {
  overflow: hidden;
}

body::before {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content: '';
  pointer-events: none;
  z-index: 100;
  opacity: 0.6;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1133px;

  margin: 0 auto;

  .content {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 35px;

    .title {
      color: #202020;

      font-size: 24px;
      font-weight: 500;
      height: 30px;

      margin-bottom: 35px;
    }

    .title:first-child {
      margin-bottom: 25px;
    }

    .title button {
      background-color: $background;
      border: 0;
      font-size: 24px;
      font-weight: 500;
      height: 30px;
      color: #202020;
      border-bottom: 2px solid $background;
    }

    .title button:hover {
      cursor: pointer;
      border-bottom: 2px solid #202020;
    }

    .columns {
      display: flex;

      .main-column {
        flex-basis: 760px;

        .large-post {
          display: flex;
        }

        .no-results {
          display: flex;
          background: #ffffff;
          flex-basis: 100%;
          .content {
            flex-basis: 100%;
            margin: 30px;
            h2 {
              color: #868686;
              margin: 0;
            }
          }
        }

        .two-post {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .column {
        flex: 1;
        margin-left: 60px;
      }
    }
  }
}

//loader
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1134px) {
  .wrapper {
    max-width: 760px;

    .content {
      .columns {
        flex-direction: column-reverse;

        .column {
          margin-left: 0;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    .content {
      .columns {
        .main-column {
          max-width: 300px;
          justify-content: center;
          flex: 1;
          margin: 0 auto;
        }
      }
    }
  }
}
